.delivered-tag {
    background-color: green;
    color: white;
}

.transit-tag {
    background-color: gray;
    color: white;
}

.picked-up-tag {
    background-color: yellow;
    color: black;
}

.out-for-delivery-tag {
    background-color: orange;
    color: black;
}
