
#sh_category_dec{display: inline-block;width: 100%;position: relative;/* border-bottom:  1px solid gray */;padding:25px 0px;}

#sh_category_dec .sub_category{
    float: left; 
/*     width: 100%;  */
    position: relative; 
    padding:0px 0px 0px!important; 
    background-image: url(/sh_website_category_page/static/src/img/bg.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}
#sh_category_dec .sh_category_detail .sh_category_title{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 30px;position: relative;margin: 0 0 24px;padding-bottom: 26px;text-transform: uppercase;letter-spacing: 2px}
#sh_category_dec .sh_category_detail{padding-left: 15px}
#sh_category_dec .sh_category_detail .sh_category_title:after { position: absolute;bottom: 0;left: 0;width: 60px;height: 1px;display: inline-block;content: '';background-color:#3498DB;}
#sh_category_dec .sh_category_detail .desc{font-size: 16px;line-height: 28px; color: #2e2e2e; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;margin-bottom:0px;}
#sh_category_dec .sh_category_img img{width: 100%;height: 250px;object-fit: cover;}
/*--BACKGROUND-IMG-PART--*/
#sh_category_dec .sub_category_back{float: left;width: 100%;position: relative;/* border-top: 1px solid gray; *//* border-bottom:  1px solid gray; */margin-bottom: 50px;background: url(/home/softhealer/Pictures/laptop-mock-up-lateral-view_1310-199.jpg);background-position: center;background-size:cover;background-repeat: no-repeat;height: auto;}
#sh_category_dec .sub_category_back .sh_overly_box{float: left; width: 100%; position: relative;background: #020101b3;}
#sh_category_dec .sub_category_back .sh_overly_box .sh_category_title{color: #FFF;}
#sh_category_dec .sub_category_back .sh_overly_box .sh_category_detail{padding: 20PX;}
#sh_category_dec .sub_category_back .sh_overly_box .sh_category_detail p{color: rgba(255, 255, 255);}
/*--BACKGROUND-IMG-PART--*/
/*--------------------
sh_category_dec
--------------------*/

/*------------------
sh_content
------------------*/

#sh_content {margin-bottom: 25px !important;z-index: 5;margin: 0 auto;width: 100%;position: relative;padding: 25px 0px;/* border-top: 1px solid gray;border-bottom: 1px solid gray; */}
#sh_content .container-profile-dark {display: inline-block;margin-top:8em;text-decoration: none;text-align: center;transition: all 0.3s ease-in-out;}
#sh_content .container-profile-dark h2 {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 30px;margin-top: 9.5em; padding-bottom: 5px;text-transform: uppercase;letter-spacing: 2px;color: #333;}
#sh_content .container-profile-dark p {margin:0px;font-size: 16px;line-height: 28px;color: #72797e;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;text-align: justify;}
#sh_content .caption-style {list-style-type: none;padding: 0px;width: 100%;justify-content: center;
    display: flex;margin-bottom: 0px;}
#sh_content .caption-style li {display: block;padding: 0px 15px;}
#sh_content .container-profile-dark .inner-content {padding: 0px;position: relative;overflow: hidden; margin-top: -8em;}
#sh_content .caption-text {z-index: 10;color: #fff;position: absolute;width: 250px;height: 250px;top: 80px;}
#sh_content .container-profile-dark .caption-bg {opacity: 0; cursor: pointer;position: absolute;left: calc(50% - 140px);background-color: rgba(215, 81, 107, .7);z-index: 100;width: 250px;height: 250px;border: 10px solid #EBEBEB;-webkit-border-radius: 100%;-moz-border-radius: 100%; transition: all 0.3s ease-in-out;}
#sh_content .container-profile-dark img {padding: 0px; position: absolute;left: calc(50% - 140px);z-index: 10; width: 250px; height: 250px; border-radius: 50%;border: 10px solid #EBEBEB;-webkit-border-radius: 50; -moz-border-radius: 50%;margin: 0 0 1em;}
#sh_content .container-profile-dark h4{text-transform: uppercase;font-size: 24px;margin-bottom: 0;display: inline-block;font-weight: 300;}
/* Image hover */
/* Media queries*/
@media only screen and (min-width: 768px) {
#sh_content .caption-style li{display: inline-block;}
#sh_content .container-profile-dark img,
#sh_content .container-profile-dark .caption-bg,
#sh_content .caption-text {width: 200px;height: 200px;left: calc(50% - 100px);    object-fit: none;}
#sh_content .caption-text {top: 40px;}
#sh_content .container-profile-dark h2{margin-top: 7.5em}
}
@media only screen and (min-width: 992px){
#sh_content .container-profile-dark img,
#sh_content .container-profile-dark .caption-bg,
#sh_content .caption-text {width: 230px;height: 230px;left: calc(50% - 120px);    object-fit: none;}
#sh_content .caption-text {top: 70px;}
#sh_content .container-profile-dark h2{margin-top: 8.5em}
}
@media only screen and (min-width: 1200px){}
/*------------------
sh_content
------------------*/



.sh_title{text-align:center;font-family: 'Josefin Sans', sans-serif; padding: 24px 0;}
.sh_description{position: relative;color: #84858a;font-size: 16px;letter-spacing: 1px;font-weight: 600;padding-top: 30px;margin-bottom: -10px;text-transform: capitalize;}
.sh_description:before{left: 50%;margin-left: -3px;top:0;position: absolute;content: '';width: 6px;height: 6px;background-color: #7e7bb1;}
.sh_title h2{position: relative;color: #a52a1a;font-weight: 700;line-height: 1.2em;
    text-transform: capitalize;    margin-top: 0px;}

.sh_description {
    display: none!important;
}

.sh_company .comp_content {
    height: 109px!important;
}
